{% extends "base.html" %}

{% block announce %}
{{ super() }}

{% if config.theme.language == "zh" %}
欢迎来到 maliang 的官网，希望本站能对您有一定的帮助！如果您觉得很有帮助，可以<a href="/maliang/Sponsor">赞助我们</a>❤️！
{% else %}
Welcome to the official website of maliang, I hope this website can be of some help to you! If you find it helpful, you can <a href="/maliang/en/Sponsor">SPONSOR US</a>❤️!
{% endif %}

{% endblock %}

{% block content %}

{% if config.theme.language == "zh" %}
    <a href="javascript:void(window.print());" class="md-content__button md-icon" title="下载此页">
        {% include ".icons/material/file-download.svg" %}
    </a>
{% else %}
    <a href="javascript:void(window.print());" class="md-content__button md-icon" title="Download this page">
        {% include ".icons/material/file-download.svg" %}
    </a>
{% endif %}

{{ super() }}
{% endblock %}