body {
    /* font-family: "LXGW WenKai", sans-serif; */
    /* font-family: "LXGW WenKai Lite", sans-serif; */
    /* font-family: "LXGW WenKai TC", sans-serif; */
    font-family: "LXGW WenKai Screen", sans-serif;
    /* 自定义字体为：LXGW WenKai Screen，可选四种不同的 */
}

:root {
    --md-text-font: "LXGW WenKai Screen";
    /*文本字体*/
    --md-code-font: "Consolas";
    /*代码字体*/
}

[data-md-color-scheme="default"] {
    /*亮色样式*/
    --md-default-fg-color: #333;
    --md-default-fg-color--light: #333;
    --md-primary-fg-color: #efefef;
    --md-primary-bg-color: #1f1f1f;
    --md-typeset-a-color: rgb(0, 128, 0);
    --md-footer-fg-color: #222;
    --md-footer-bg-color: #efefef;
    --md-footer-bg-color--dark: #efefef;
    --md-footer-fg-color--light: #222;
    --md-footer-fg-color--lighter: #222;
}

[data-md-color-scheme="slate"] {
    /*暗色样式*/
    --md-default-fg-color: #bbb;
    --md-default-fg-color--light: #bbb;
    --md-accent-fg-color: #cccc00;
    --md-footer-fg-color: #ccc;
    --md-footer-bg-color: #0d0d0d;
    --md-footer-bg-color--dark: #0d0d0d;
    --md-footer-fg-color--light: #ccc;
    --md-footer-fg-color--lighter: #ccc;
}

@keyframes heart {

    /* 心脏跳动的样式表 */
    0%,
    40%,
    80%,
    100% {
        transform: scale(1);
    }

    20%,
    60% {
        transform: scale(1.15);
    }
}

.heart {
    animation: heart 1000ms infinite;
}