:root {
    /*文本字体*/
    --md-text-font: "LXGW WenKai Screen";
    /*代码字体*/
    --md-code-font: "Consolas";
}

[data-md-color-scheme="default"] {
    /*亮色样式*/
    --md-default-fg-color: #333;
    --md-default-fg-color--light: #333;
    --md-primary-fg-color: #efefef;
    --md-primary-bg-color: #1f1f1f;
    --md-typeset-a-color: #007800;
    --md-footer-fg-color: #222;
    --md-footer-bg-color: #efefef;
    --md-footer-bg-color--dark: #efefef;
    --md-footer-fg-color--light: #222;
    --md-footer-fg-color--lighter: #222;
    --md-code-hl-comment-color: #999;
}

/*
0 1 2 3 4 5 6 7 8 9 A B C D E F
F E D C B A 9 8 7 6 5 4 3 2 1 0
*/

[data-md-color-scheme="slate"] {
    /*暗色样式*/
    --md-default-fg-color: #bbb;
    --md-default-fg-color--light: #bbb;
    --md-accent-fg-color: #cccc00;
    --md-footer-fg-color: #ccc;
    --md-footer-bg-color: #0d0d0d;
    --md-footer-bg-color--dark: #0d0d0d;
    --md-footer-fg-color--light: #ccc;
    --md-footer-fg-color--lighter: #ccc;
    --md-code-hl-comment-color: #777;
}

@keyframes heart {

    /*心脏跳动的样式表，抄官网的代码*/
    0%,
    40%,
    80%,
    100% {
        transform: scale(1);
    }

    20%,
    60% {
        transform: scale(1.15);
    }
}

.heart {
    animation: heart 1000ms infinite;
}

.changelog-type-Added {
    background-color: #599959;
}

.changelog-type-Added::before {
    content: "Added / 新增";
}

.changelog-type-Changed {
    background-color: #8C8C4C;
}

.changelog-type-Changed::before {
    content: "Changed / 变更";
}

.changelog-type-Removed {
    background-color: #B86B6B;
}

.changelog-type-Removed::before {
    content: "Removed / 移除";
}

.changelog-type-Optimized {
    background-color: #6B6BB8;
}

.changelog-type-Optimized::before {
    content: "Optimized / 优化";
}

.changelog-type-Fixed {
    background-color: #A666A6;
}

.changelog-type-Fixed::before {
    content: "Fixed / 修复";
}

.changelog-type-Deprecated {
    background-color: #997B59;
}

.changelog-type-Deprecated::before {
    content: "Deprecated / 弃用";
}