:root {
    /*文本字体*/
    --md-text-font: "LXGW WenKai Screen";
    /*代码字体*/
    --md-code-font: "Consolas";
}

[data-md-color-scheme="default"] {
    /*亮色样式*/
    --md-default-fg-color: #333;
    --md-default-fg-color--light: #333;
    --md-primary-fg-color: #efefef;
    --md-primary-bg-color: #1f1f1f;
    --md-typeset-a-color: #007800;
    --md-footer-fg-color: #222;
    --md-footer-bg-color: #f6f6f6;
    --md-footer-bg-color--dark: #f6f6f6;
    --md-footer-fg-color--light: #222;
    --md-footer-fg-color--lighter: #222;
    --md-code-hl-comment-color: #999;
    --md-header-bg-color: rgba(232, 232, 232, 0.7);
}

[data-md-color-scheme="slate"] {
    /*暗色样式*/
    --md-default-fg-color: #bbb;
    --md-default-fg-color--light: #bbb;
    --md-accent-fg-color: #cccc00;
    --md-footer-fg-color: #ccc;
    --md-footer-bg-color: #0d0d0d;
    --md-footer-bg-color--dark: #0d0d0d;
    --md-footer-fg-color--light: #ccc;
    --md-footer-fg-color--lighter: #ccc;
    --md-code-hl-comment-color: #777;
    --md-header-bg-color: rgba(17, 16, 17, 0.7);
}

/*顶栏磨砂玻璃效果*/
[data-md-color-primary="black"] .md-header {
    background-color: var(--md-header-bg-color);
}

/*顶栏磨砂玻璃效果*/
.md-header {
    transition: none;
    backdrop-filter: saturate(180%) blur(10px);
    /* Gaussian blur */
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    /* Safari */
    background-color: var(--md-header-bg-color);
}

/*给图片加圆角*/
img {
    border-radius: 5px;
}

/*给按键（kbd）加阴影*/
kbd:hover {
    box-shadow: #787878 0px 1px 1px;
    cursor: pointer;
}

/*居中 mermaid 绘制的图*/
.mermaid {
    text-align: center;
}

/*去除音乐播放器背景颜色*/
audio::-webkit-media-controls-enclosure {
    background-color: rgba(0, 0, 0, 0.0);
}

/*视频 iframe*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

/*视频 iframe*/
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*打字机文本*/
.text {
    display: inline-block;
    position: relative;
    font-size: 15px;
}

/*打字机光标*/
.text::after {
    content: '';
    position: absolute;
    right: -3px;
    top: 4px;
    height: 17px;
    width: 1px;
    background-color: #fff;
    animation: san 0.5s steps(1) infinite;
}

/*光标动画*/
@keyframes san {

    0%,
    100% {
        background-color: var(--md-default-fg-color);
    }

    50% {
        background-color: transparent;
    }

}

/*心脏跳动的样式表，抄官网的代码*/
@keyframes heart {

    0%,
    40%,
    80%,
    100% {
        transform: scale(1);
    }

    20%,
    60% {
        transform: scale(1.15);
    }
}

.heart {
    animation: heart 1000ms infinite;
}